body{
    background-color: rgba(80,80,80,0.1);;
}
header{
    background-color: rgba(80,80,80,0.1);;
}

.body{
    background-color: rgba(80,80,80,0.1);
    width: 90rem;
    height: 90rem;
    
    
}


section.card{
    background-color: rgba(80,80,80,0.1);
    margin: 10rem;
}
