        /* body */
.body{
    background-color: rgba(80,80,80,0.1);
    width: 80rem;
    height: 280rem;
    margin-left: 10rem;

}

        /* hearder */
header{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='50' cy='0' r='50'/%3E%3Cg fill='%23040404' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23090909' cx='50' cy='100' r='50'/%3E%3Cg fill='%230d0d0d' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111111' cx='50' cy='200' r='50'/%3E%3Cg fill='%23151515' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%231a1a1a' cx='50' cy='300' r='50'/%3E%3Cg fill='%231e1e1e' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23222222' cx='50' cy='400' r='50'/%3E%3Cg fill='%23262626' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%232b2b2b' cx='50' cy='500' r='50'/%3E%3Cg fill='%232f2f2f' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23333333' cx='50' cy='600' r='50'/%3E%3Cg fill='%23373737' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%233b3b3b' cx='50' cy='700' r='50'/%3E%3Cg fill='%23404040' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23444444' cx='50' cy='800' r='50'/%3E%3Cg fill='%23484848' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%234d4d4d' cx='50' cy='900' r='50'/%3E%3Cg fill='%23515151' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23555555' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
    
}
.logo{
    width: 20vh;
    height: 20vh;
}
.nav-link{
    color: white;
}
.img{
    height: 10vh;
}


        /* interieur body */
.title {
    color : rgb(8, 7, 7);
}

.titre{
    display: flex;
    justify-content: center;
}

/*$[movie.poster_path]*/
.btn-primary {
    --bs-btn-color: rgb(161, 158, 158);
    --bs-btn-bg: #17010d16;
    --bs-btn-border-color:#17010d16;
    --bs-btn-hover-color: rgb(161, 158, 158);
    --bs-btn-hover-bg: #17010d16;
    --bs-btn-hover-border-color: #17010d16;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: rgb(161, 158, 158);
    --bs-btn-active-bg: #17010d16;
    --bs-btn-active-border-color: #17010d16;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(161, 158, 158);
    --bs-btn-disabled-bg: #17010d16;
    --bs-btn-disabled-border-color: #17010d16;
}
.contenue{
    background-color: white;
    margin-top: 2.5rem;
    margin-left: 20rem;
    width: 60rem;
    height:35rem ;
   
   
}
#carouselExampleSlidesOnly{
    margin-top: 5vh;
    width: 90rem;
    height: 20rem;
}
.top{
    position: relative;
    left: -30px;
    margin-top: 2.5rem;
    margin-left: 8rem;
    margin-right: 1rem;
    width: 50rem;
    height: 30rem;
}
.hello{
    width: 90rem;
    height: 150rem;
    border: solid;

}
.card{
    background-color: black;
    color: white;
}

.card:hover{
    background-color: red;
}

.lala {
    height: 30rem;
    background-repeat: no-repeat;
    color: white;
    font-size: 5vh;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/257385/pexels-photo-257385.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20vh;
  }
.lal{
    display: flex;
    align-items: center;
}

         /* footer */

footer{
    background-color: #000000;
}
  .logoo{
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


